@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: arial;
	font-size: 40px;
	margin: 0;
	background:linear-gradient(to right bottom, #e18d96, #f3ddb3);
	color: #000;

	display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
#bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: monospace;
    font-size: 15px;
    color:darkgoldenrod;
}
h1{
	color: #fff;
	font-size: 50px;
}
#convert_text{
  width: 100%;
  height: 200px;
  border-radius: 10px;
  resize: none;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  top: 20px;
}
.inputBx {
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: 100px;
}
.inputBx input {
  width: 300%;
  height: 200px;
  border-radius: 10px;
  resize: none;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  position: relative;
  top: 10px;
  left: -300px;
}
.inputBx button {
  position: relative;
  top:50px;
  left: 150px;
  background-color: transparent;
  outline: none;
  border: none;
  width: 3rem;
  text-align: center;
  font-size: 1.75rem;
  cursor: pointer;
  color: #040f13;
}
.info {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
}


@media (max-width: 1200px) {
  .inputBx { width: 50%; }
}
@media (max-width: 768px) {
  .container { padding: 30px 35px; }
  .inputBx { width: 100%; }
  .info { font-size: 0.5rem; }
}
